DB_HOST=***.....amazonaws.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=password

# Configuración de la aplicación
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

# Configuración de paginación
PAGINATION_DEFAULT_LIMIT=10
PAGINATION_MAX_LIMIT=100